.user-btns{
    text-align:center;
    button{
        background: none;
        border: 1px solid #9b9a9a;
        padding: 2px 25px;
        border-radius: 4px;
        background-color: #efefef;
        margin:0 10px;
    }
}