
<div class="container wrapper">
    <p class="person-profile">Enter Senders's address</p>
    <div class="row">
      <form #heroForm="ngForm" class="user-details">
          <div class="form-group user-group">
            <label for="name">Name</label>
            <input type="text" class="form-control"
                   [(ngModel)]="from.name" name="fname"
                   #fname="ngModel" [ngClass]="{ 'is-invalid': fname.dirty && fname.invalid }"  required>
                   <div *ngIf="fname.dirty && fname.invalid" class="invalid-feedback">
                        <div *ngIf="fname.errors.required">Name is required</div>
                    </div>
          </div> 
          <div class="form-group user-group">
              <label for="name">Street</label>
              <input type="text" class="form-control" id="street"
                     required
                     [(ngModel)]="from.street" name="street"
                     #street="ngModel"  [ngClass]="{ 'is-invalid': street.dirty && street.invalid }"  required>   
                     <div *ngIf="street.dirty && street.invalid" class="invalid-feedback">
                            <div *ngIf="street.errors.required">street is required</div>
                        </div>   
            </div> 
            <div class="form-group user-group">
                <label for="name">City</label>
                <input type="text" class="form-control" id="city"
                       required
                       [(ngModel)]="from.city" name="city"
                       #city="ngModel" [ngClass]="{ 'is-invalid': city.dirty && city.invalid }" required>  
                       <div *ngIf="city.dirty && city.invalid" class="invalid-feedback">
                            <div *ngIf="city.errors.required">city is required</div>
                        </div>       
              </div> 
              <div class="form-group user-group">
                  <label for="name">State</label>
                  <input type="text" class="form-control" id="state"
                         required
                         [(ngModel)]="from.state" name="state"
                         #state="ngModel" [ngClass]="{ 'is-invalid': state.dirty && state.invalid }" required>    
                         <div *ngIf="state.dirty && state.invalid" class="invalid-feedback">
                                <div *ngIf="state.errors.required">state is required</div>
                            </div>   
                </div>
                <div class="form-group user-group">
                    <label for="name">Zip</label>
                    <input type="text" class="form-control" id="zip"
                           required
                           [(ngModel)]="from.zip" name="zip"
                           #zip="ngModel"  [ngClass]="{ 'is-invalid': zip.dirty && zip.invalid }" required>    
                           <div *ngIf="zip.dirty && zip.invalid" class="invalid-feedback">
                                  <div *ngIf="zip.errors.required">zip is required</div>
                              </div>   
                  </div>     
        </form>
    
    </div>
  </div>